# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://docs.github.com/github/creating-cloning-and-archiving-repositories/creating-a-repository-on-github/about-code-owners

# The '*' pattern is global owners.
* @mairaw @danzhu54
