<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="dotnetsite" value="https://pkgs.dev.azure.com/devdiv/OnlineServices/_packaging/dotnetsite/nuget/v3/index.json" />
	</packageSources>
	<packageSourceMapping>
		<packageSource key="dotnetsite">
			<package pattern="*" />
		</packageSource>
	</packageSourceMapping>
</configuration>